# Ports on monitoring machine
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
LOKI_PORT=3100

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin

PROM_SCRAPE_INTERVAL=15s
PROM_EVALUATION_INTERVAL=15s

AUTH_METRICS_TARGET=127.0.0.1:8001
PAYMENT_METRICS_TARGET=127.0.0.1:8002
SAWIT_METRICS_TARGET=127.0.0.1:8082

LOKI_PUSH_URL=http://loki:3100/loki/api/v1/push

PROMTAIL_CONTAINER_REGEX=auth-app|payment-app|sawit-app
